@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.background-nav {
  background-color: #202020;
}

.allnav {
  padding: 20px 0px;
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.allnav #logoside {
  list-style: none;
  display: flex;
  align-items: center;
  width: 25%;
  color: white;
}
.allnav #logoside p {
  font-size: 22px;
  margin-left: 20px;
}
.allnav #pageside {
  display: flex;
  width: 55%;
  justify-content: space-around;
  align-items: center;
}
.allnav #pageside a {
  text-decoration: none;
  color: #ffffff;
}
.allnav #pageside li {
  list-style: none;
}
.allnav .contact {
  width: 20%;
  display: flex;
  justify-content: center;
}
.allnav .contact button {
  padding: 7px 35px;
  background: #ff3839;
  border-radius: 11px;
  color: #ffffff;
  border: none;
}

section {
  width: 100%;
  margin: 0;
  padding: 0;
}

.backimage {
  background-image: url("./img/graphic-designers-meeting.png");
  background-size: cover;
}
.backimage .texts {
  width: 100%;
  text-align: center;
}
.backimage .texts .title {
  padding-top: 150px;
  font-size: 20px;
}
.backimage .texts .title span {
  color: #ff3839;
}
.backimage .texts .largetext {
  padding-top: 20px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.backimage .texts .largetext h1 {
  font-family: "Poppins";
  width: 787px;
}
.backimage .texts .leave {
  width: 563px;
  height: 0px;
  border: 2px solid #ff3839;
  text-align: center;
  justify-content: center;
}
.backimage .texts .line {
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: baseline;
  display: flex;
}
.backimage .texts .undertext {
  display: flex;
  height: 59px;
  justify-content: center;
}
.backimage .texts .undertext p {
  font-family: "Poppins";
  padding-top: 20px;
  width: 49%;
}
.backimage .texts .centerbut {
  padding-top: 30px;
  width: 97%;
  margin-top: 15px;
  padding-bottom: 126px;
}
.backimage .texts .centerbut .hire {
  background-color: #ff3839;
  border-radius: 3px;
  border: none;
  font-size: 17px;
  width: 151px;
  height: 45px;
  color: #ffffff;
}
.backimage .texts .centerbut .port {
  background: #ffffff;
  border: none;
  width: 151px;
  height: 45px;
  font-size: 17px;
  margin-left: 15px;
  color: #202020;
}

#section-text {
  margin-top: 125px;
}
#section-text .container {
  width: 90%;
  margin: 0 auto;
}
#section-text .container .row {
  display: flex;
  justify-content: space-between;
}
#section-text .container .row .images {
  justify-content: center;
  width: 50%;
  position: relative;
}
#section-text .container .row .images .people {
  position: absolute;
}
#section-text .container .row .images .people2 {
  position: absolute;
  top: 183px;
  left: 227px;
  height: 295px;
}
#section-text .container .row .titles {
  padding-bottom: 100px;
  line-height: 23px;
  width: 50%;
  font-family: "Poppins";
}
#section-text .container .row .titles .titles_text p {
  font-family: "Poppins";
  font-size: 18px;
}
#section-text .container .row .titles .titles_text p span {
  color: #ff3839;
}
#section-text .container .row .titles .titles_h1 {
  margin-top: 42px;
}
#section-text .container .row .titles .titles_h1 h1 {
  font-family: "Poppins";
  font-size: 67px;
}
#section-text .container .row .titles .titles_h1 .red {
  color: #ff3839;
  margin-top: 43px;
}
#section-text .container .row .titles .infos {
  margin-top: 52px;
  width: 514px;
}
#section-text .container .row .titles .infos2 {
  margin-top: 19px;
  width: 474px;
}
#section-text .container .row .titles .buttons {
  margin-top: 20px;
}
#section-text .container .row .titles .buttons button {
  background-color: #ff3839;
  border-radius: 3px;
  border: none;
  font-size: 17px;
  width: 151px;
  height: 45px;
  color: #ffffff;
}

#section-text2 {
  padding-top: 100px;
  background-color: #202020;
  height: 600px;
}
#section-text2 .container2 {
  width: 90%;
  margin: 0 auto;
}
#section-text2 .container2 .titles2 {
  width: 50%;
}
#section-text2 .container2 .titles2 .offer p {
  color: #ffffff;
  font-size: 17px;
}
#section-text2 .container2 .titles2 .offer p span {
  color: #ff3839;
}
#section-text2 .container2 .titles2 .service h1 {
  color: #ffffff;
  margin-top: 15px;
  width: 508px;
  font-size: 71px;
}
#section-text2 .container2 .titles2 .service h1 span {
  color: #ff3839;
}
#section-text2 .container2 .titles2 .longword p {
  font-family: "Poppins";
  color: #ffffff;
  margin-top: 20px;
  width: 501px;
}
#section-text2 .container2 .titles2 .service_button button {
  background-color: #ff3839;
  border-radius: 3px;
  border: none;
  font-size: 17px;
  margin-top: 35px;
  width: 151px;
  height: 45px;
  color: #ffffff;
}
#section-text2 .container2 .card-up {
  display: flex;
  margin-top: 44px;
  gap: 20px;
  position: relative;
}
#section-text2 .container2 .card-up .card {
  width: 265px;
  height: 180px;
  border-radius: 6px;
  background-color: #ffffff;
  position: relative;
}
#section-text2 .container2 .card-up .card h3 {
  text-align: center;
  margin-top: 45px;
}
#section-text2 .container2 .card-up .card p {
  padding-top: 20px;
  padding-left: 10px;
  width: 250px;
}
#section-text2 .container2 .card-up .card .uxicon {
  position: relative;
  left: 99px;
  bottom: 169px;
  border-radius: 29px;
  width: 60px;
  height: 56px;
  background-color: #ff3839;
}
#section-text2 .container2 .card-up .card .uxicon img {
  margin-left: 5px;
  margin-top: 2px;
}

#section-text3 {
  height: 842px;
}
#section-text3 .container3 {
  width: 90%;
  margin: 0 auto;
}
#section-text3 .container3 .title_p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
  color: #696969;
}
#section-text3 .container3 .titles-h1 {
  display: flex;
  align-items: center;
  font-size: 34px;
  margin-top: 24px;
  justify-content: center;
}
#section-text3 .container3 .titles-h1 h1 span {
  color: #ff3839;
}
#section-text3 .container3 .complated {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 34px;
}
#section-text3 .container3 .buttons-text3 {
  margin-top: 30px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
#section-text3 .container3 .button_red {
  text-decoration: none;
}
#section-text3 .container3 .button_red button {
  background-color: #ff3839;
  width: 55px;
  color: white;
  border: none;
  height: 32px;
  border-radius: 3px;
}
#section-text3 .container3 .button_red button a {
  text-decoration: none;
  color: white;
}
#section-text3 .container3 .button_ux button {
  background-color: #f2f2f2;
  width: 71px;
  color: black;
  border: none;
  height: 32px;
  border-radius: 3px;
}
#section-text3 .container3 .button_ux button a {
  text-decoration: none;
  color: #202020;
}
#section-text3 .container3 .button_dev button {
  background-color: #f2f2f2;
  width: 122px;
  color: black;
  border: none;
  height: 32px;
  border-radius: 3px;
}
#section-text3 .container3 .button_dev button a {
  text-decoration: none;
  color: #202020;
}
#section-text3 .container3 .button_mob button {
  background-color: #f2f2f2;
  width: 150px;
  color: black;
  border: none;
  height: 32px;
  border-radius: 3px;
}
#section-text3 .container3 .button_mob button a {
  text-decoration: none;
  color: #202020;
}
#section-text3 .container3 .button_seo button {
  background-color: #f2f2f2;
  width: 62px;
  color: black;
  border: none;
  height: 32px;
  border-radius: 3px;
}
#section-text3 .container3 .button_seo button a {
  text-decoration: none;
  color: #202020;
}
#section-text3 .container3 .skils_images {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
  gap: 15px;
}
#section-text3 .container3 .middle_photo {
  height: 600px;
}

#section-text4 {
  background-color: #202020;
  height: 660px;
}
#section-text4 .container4 {
  width: 80%;
  margin: 0 auto;
}
#section-text4 .container4 .general {
  display: flex;
  justify-content: space-between;
}
#section-text4 .container4 .general .title_fed {
  display: flex;
  padding-top: 100px;
  width: 311px;
}
#section-text4 .container4 .general .title_fed .solid {
  width: 134px;
  height: 1px;
  background-color: #d8d8d8;
  margin-top: 11px;
}
#section-text4 .container4 .general .title_fed p {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
  margin-left: 15px;
}
#section-text4 .container4 .general .title_fed p span {
  color: red;
}
#section-text4 .container4 .general .circle {
  display: flex;
  gap: 7px;
  padding-top: 108px;
}
#section-text4 .container4 .general .solid2 {
  width: 134px;
  height: 1px;
  margin-top: 8px;
  background-color: #d9d9d9;
}
#section-text4 .container4 .general .circle1 {
  width: 16px;
  height: 16px;
  background-color: #d9d9d9;
  border-radius: 50%;
}
#section-text4 .costumer_h1 h1 {
  font-size: 51px;
  margin-top: 23px;
  width: 464px;
  color: #f2f2f2;
}
#section-text4 .costumer_h1 h1 span {
  color: red;
}
#section-text4 .name_cards {
  display: flex;
  margin-top: 82px;
  gap: 20px;
  position: relative;
}
#section-text4 .name_cards .name_card-left {
  width: 404px;
  border-radius: 6px;
  height: 221px;
  background-color: #ffffff;
  position: relative;
}
#section-text4 .name_cards .name_card-left .logo_name img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 26px;
  margin-left: 164px;
  margin-top: -223px;
  background-color: #ff3839;
  position: absolute;
}
#section-text4 .name_cards h4 {
  font-family: "Poppins";
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-text4 .name_cards img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-left: 120px;
}
#section-text4 .name_cards p {
  padding-top: 13px;
  font-size: 14px;
  font-family: "Poppins";
  display: flex;
  text-align: center;
}

#section-text5 {
  padding-bottom: 100px;
}
#section-text5 .container5 {
  width: 70%;
  margin: 0 auto;
}
#section-text5 .container5 .solids {
  display: flex;
  align-items: center;
  padding-top: 100px;
  gap: 8px;
  justify-content: center;
}
#section-text5 .container5 .solids .solid_ques {
  width: 134px;
  height: 1px;
  background-color: #d8d8d8;
  margin-top: 5px;
}
#section-text5 .container5 .solids .solid_ques2 {
  width: 134px;
  height: 1px;
  background-color: #d8d8d8;
  margin-top: 5px;
}
#section-text5 .container5 .question_h1 {
  display: flex;
  align-items: center;
  padding-top: 15px;
  justify-content: center;
}
#section-text5 .container5 .question_h1 h1 {
  font-size: 55px;
}
#section-text5 .container5 .question {
  display: flex;
  align-items: center;
  justify-content: center;
}
#section-text5 .container5 .question h1 {
  font-size: 55px;
  color: #ff3839;
}
#section-text5 .container5 .border {
  display: flex;
  align-items: center;
  height: 71px;
  border-radius: 6px;
  background-color: #202020;
  margin-top: 50px;
  position: relative;
}
#section-text5 .container5 .border .border_text {
  display: flex;
  padding-left: 40px;
}
#section-text5 .container5 .border .border_text p {
  color: #f2f2f2;
}
#section-text5 .container5 .border .border_text img {
  position: absolute;
  right: 25px;
}
#section-text5 .container5 .question_p {
  display: flex;
  align-items: center;
  justify-content: center;
}
#section-text5 .container5 .question_p p {
  margin-top: 20px;
  text-align: center;
}
#section-text5 .container5 .question_p p img {
  position: relative;
}
#section-text5 .container5 .comment_question {
  align-items: center;
  position: relative;
  margin-top: 20px;
}
#section-text5 .container5 .comment_question .comment1 {
  display: flex;
  height: 71px;
  margin-top: 20px;
  border-radius: 6px;
  background-color: #f1f1f1;
}
#section-text5 .container5 .comment_question .comment1 p {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 25px;
  color: black;
  padding-left: 40px;
}
#section-text5 .container5 .comment_question .comment1 img {
  height: 15px;
  position: absolute;
  margin-top: 24px;
  right: 25px;
}

#section-text6 {
  height: 850px;
  background-color: #f1f1f1;
}
#section-text6 .container6 {
  width: 85%;
  margin: 0 auto;
  display: flex;
}
#section-text6 .container6 .contact_border {
  width: 50%;
}
#section-text6 .container6 .contact_border .contact_solid {
  display: flex;
  gap: 4px;
  padding-top: 80px;
}
#section-text6 .container6 .contact_border .contact_solid .solid4 {
  width: 134px;
  height: 2px;
  background-color: #d8d8d8;
  margin-top: 11px;
}
#section-text6 .container6 .contact_border .contact_solid p {
  color: #ff3839;
  font-family: "Poppins";
}
#section-text6 .container6 .contact_border .contact_h1 h1 {
  color: black;
  padding-top: 10px;
  font-size: 55px;
  font-family: "Poppins";
}
#section-text6 .container6 .contact_border .contact_h1 h1 span {
  color: #ff3839;
}
#section-text6 .container6 .contact_border .contact_p p {
  font-family: "Poppins";
  width: 600px;
  padding-top: 20px;
}
#section-text6 .container6 .contact_border .all_input {
  margin-top: 25px;
}
#section-text6 .container6 .contact_border .all_input .contact_input-name input {
  width: 590px;
  height: 60px;
  border-color: #cacaca;
  border-radius: 5px;
}
#section-text6 .container6 .contact_border .all_input .contact_input-name input::-moz-placeholder {
  color: black;
  padding-left: 20px;
  font-family: "Poppins";
}
#section-text6 .container6 .contact_border .all_input .contact_input-name input::placeholder {
  color: black;
  padding-left: 20px;
  font-family: "Poppins";
}
#section-text6 .container6 .contact_border .all_input .contact_input-email input {
  width: 590px;
  color: #ff3839;
  height: 60px;
  margin-top: 20px;
  border-radius: 5px;
  border-color: #cacaca;
}
#section-text6 .container6 .contact_border .all_input .contact_input-email input::-moz-placeholder {
  color: black;
  padding-left: 20px;
  font-family: "Poppins";
}
#section-text6 .container6 .contact_border .all_input .contact_input-email input::placeholder {
  color: black;
  padding-left: 20px;
  font-family: "Poppins";
}
#section-text6 .container6 .contact_border .all_input .contact_input-text {
  margin-top: 20px;
}
#section-text6 .container6 .contact_border .all_input .contact_input-text textarea {
  border-color: #cacaca;
  border-radius: 5px;
}
#section-text6 .container6 .contact_border .all_input .contact_input-text textarea::-moz-placeholder {
  color: black;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 14px;
  font-family: "Poppins";
}
#section-text6 .container6 .contact_border .all_input .contact_input-text textarea::placeholder {
  color: black;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 14px;
  font-family: "Poppins";
}
#section-text6 .container6 .contact_border .contact_button {
  margin-top: 25px;
}
#section-text6 .container6 .contact_border .contact_button button {
  background-color: #ff3839;
  border: none;
  color: white;
  border-radius: 6px;
  width: 140px;
  height: 48px;
}
#section-text6 .container6 .contact_border-image {
  width: 50%;
}
#section-text6 .container6 .contact_border-image .contact_image img {
  padding-top: 20px;
}/*# sourceMappingURL=style.css.map */