
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
}


.background-nav{
    background-color: #202020;
}


    .allnav{
        padding: 20px 0px;
        width: 80%;
        margin: 0 auto;
        display: flex;   
        #logoside{
            list-style: none;
                display: flex;
                align-items: center;
                width: 25%;
                color: white;
                p{
                    font-size: 22px;
                    margin-left: 20px;
                }
        }
        #pageside{
            
            display: flex;
            width: 55%;
            justify-content: space-around;
            align-items: center;
            a{
                text-decoration: none;
                color: #FFFFFF;
            }
            li{
                list-style: none;
            }
        }
        .contact{
            width: 20%;
          display: flex;
          justify-content: center;
          button{
            padding: 7px 35px;
            background: #FF3839;
            border-radius: 11px;
            color: #FFFFFF;
            border: none;
            }
        }
    }

section{
    width: 100%;
    margin: 0;
    padding: 0;
}
.backimage{
    background-image: url('./img/graphic-designers-meeting.png');
    background-size: cover;
    .texts{
        width: 100%;
        text-align: center;

        .title{
            padding-top: 150px;
            font-size: 20px;
            span{
                color: #FF3839;
            }
        }
        .largetext{
            padding-top: 20px;
            font-size: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            h1{
                font-family: 'Poppins';
                width: 787px;
            }
        }
        .leave{
            width: 563px;
            height: 0px;
            border: 2px solid #FF3839;
            text-align: center;
           justify-content: center;
            }
            .line{
                text-align: center;
                width: 100%;
                justify-content: center;
                align-items: baseline;
                display: flex;
            }
            .undertext{
                display: flex;
                height: 59px;
                justify-content: center;
            
                p{
                    font-family: 'Poppins';
                    padding-top: 20px;
                    width: 49%;
                }
            }
            .centerbut{
                padding-top: 30px;
                width: 97%;
                margin-top: 15px;
                padding-bottom: 126px;
                .hire{
                    background-color: #FF3839;
                    border-radius: 3px;
                    border: none;
                    font-size: 17px;
                    width: 151px;
                    height: 45px;
                    color: #FFFFFF;
                }
                .port{
                    background: #FFFFFF;
                    border: none;
                    width: 151px;
                    height: 45px;
                    font-size: 17px;
                    margin-left: 15px;
                    color:#202020
                }
        }
        }
}
#section-text{
    margin-top: 125px;
    .container{
        width: 90%;
  margin: 0 auto;
        .row{
            display: flex;
            justify-content: space-between;

            .images{
                justify-content: center;
                width: 50%;
                position: relative;
                .people{
                    position: absolute;
                }
                .people2{
                    position: absolute;
                    top: 183px;
                    left: 227px;
                    height: 295px;
                }
            }
            .titles{
                padding-bottom: 100px;
                line-height: 23px;
                width: 50%;
                font-family: 'Poppins';
              .titles_text{
                p{
                    font-family: 'Poppins';
                    font-size: 18px;
                  span{
                    color: #FF3839;
                  }
                }
              }
              .titles_h1{
                margin-top: 42px;
                
                h1{
                    font-family: 'Poppins';
                    font-size: 67px;
                    
                }
                .red{
                    color: #FF3839;
                    margin-top: 43px;
                }

              }
              .infos{
                margin-top: 52px;
                width: 514px;
                
              }
              .infos2{
                margin-top: 19px;
                width: 474px;
              }
              .buttons{
                margin-top: 20px;
                button{
                    background-color: #FF3839;
                    border-radius: 3px;
                    border: none;
                    font-size: 17px;
                    width: 151px;
                    height: 45px;
                    color: #FFFFFF;
                }
              }
                }
            }
        }
}
#section-text2{
    padding-top: 100px;
    background-color: #202020;
    height: 600px;
    .container2{
        width: 90%;
        margin: 0 auto;
        .titles2{
            width: 50%;
            .offer{
                
            p{
                color: #FFFFFF;
                font-size: 17px;
                span{
                    color: #FF3839;
                }
            }
        }
        .service{
            h1{
                color: #FFFFFF;
                margin-top: 15px;
                width: 508px;
                font-size: 71px;
                span{
                    color: #FF3839;
                }
            }
        }
        .longword{
            p{
                font-family: "Poppins";
                color: #FFFFFF;
                margin-top: 20px;
                width: 501px;
            }
        }
        .service_button{
            button{
                background-color: #FF3839;
                border-radius: 3px;
                border: none;
                font-size: 17px;
                margin-top: 35px;
                width: 151px;
                height: 45px;
                color: #FFFFFF;
            }
            img{
                width:100
            }
        }
    }
    .card-up{
        display: flex;
        margin-top: 44px;
        gap: 20px;
        position: relative;
        .card{
            width: 265px;
            height: 180px;
            border-radius: 6px;
            background-color: #FFFFFF;
            position: relative;
            h3{
                text-align: center;
                margin-top: 45px;
            }
            p{
                padding-top: 20px;
                padding-left: 10px;
                width: 250px;
            }
            .uxicon{
                position: relative;
                left: 99px;
                bottom: 169px;
                border-radius: 29px;
                width: 60px;
                height: 56px;
                background-color: #FF3839;
                img{
                    margin-left: 5px;
                    margin-top: 2px;
                }
            }

        }
    }
    }
}
#section-text3{
    height: 600px;
    .container3{
        width: 90%;
        margin: 0 auto;
        .title_p{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 65px;
            color: #696969;
        }
        .titles-h1{
            display: flex;
            align-items: center;
            font-size: 34px;
            margin-top: 24px;
            justify-content: center;
            h1{
                span{
                    color: #FF3839;
                }
            }
        }
        .complated{
            display: flex;
            text-align: center;
            justify-content: center;
            font-size: 34px;
        }
        .buttons-text3{
            margin-top: 30px;
            display: flex;
            gap: 5px;
            align-items: center;
           
            
            justify-content: center;
        }
        .button_red{
            text-decoration: none;
            
            button{
                background-color: #FF3839;
                width: 55px;
                color: white;
                border: none;
                height: 32px;
                border-radius: 3px;
                a{
                    text-decoration: none;
                    color: white;
                }
                
            }
        }
        .button_ux{
            button{
                background-color:#F2F2F2;
                width: 71px;
                color: black;
                border: none;
                height: 32px;
                border-radius: 3px;
                a{
                    text-decoration: none;
                    color: #202020;
                }
            }
        }
        .button_dev{
            button{
                background-color:#F2F2F2;
                width: 122px;
                color: black;
                border: none;
                height: 32px;
                border-radius: 3px;
                a{
                    text-decoration: none;
                    color: #202020;
                }
            }
        }
        .button_mob{
            button{
                background-color:#F2F2F2;
                width: 150px;
                color: black;
                border: none;
                height: 32px;
                border-radius: 3px;
                a{
                    text-decoration: none;
                    color: #202020;
                }
            }
        }
    .button_seo{
        button{
            background-color:#F2F2F2;
            width: 62px;
            color: black;
            border: none;
            height: 32px;
            border-radius: 3px;
            a{
                text-decoration: none;
                color: #202020;
            }
        }
    }
    .skils_images{
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 40px;
        gap: 15px;
    }
    .middle_photo{
        height: 500px;
    }
    }
}


